body {
  background-color: grey;
}

main {
  display: flex;
  flex-direction: row;
  color: white;
}

.right {
  width: 40%
}

.left {
  width: 60%
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  height: 220px;
  text-align: center;
}

.slider {
  max-width: 100%;
}

.buttons button {
  background-color: inherit;
  padding: 10px;
  border: solid 2px white;
  color: white;
}

.bio {
  width: 66%;
  text-align: left;
}

.bio * {
  margin-left: 10px;
}

.bio, .blog {
  background-color: #60b980;
}

.experience, .contact {
  background-color: #408abf;
}

.social, .portfolio {
  background-color: #e8713b;
}

.education {
  background-color: #e06451;
}

.profile {
  background-color: #f2a13a;
}

.slider img {
  max-width: 100%;
}

main a {
  text-decoration: none;
  color: white;
}
